@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.root{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    .main{
        width: 100%;
        min-height: 80vh;
        background-color: rgb(237,234,225);
        padding-bottom: 10vh;
        .image{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 0;
            transition: 0.5s;
            font-family: 'Yaldevi', sans-serif;
            .img{
                width: 150px;
                height: 150px;
                border: 1px solid rgba(0, 0, 0, 0.7);
                transition: 0.3s;
                border-radius: 100%;
                cursor: pointer;
                margin-right: 1rem;
                &:hover{
                    border: 1px solid black;
                    box-shadow: 0 0 10px rgba(150, 150, 150, 0.7);
                }
            }
            .imageLabel{
                position: absolute;
                h3{
                    margin: 0;
                    font-weight: 500;
                }
                input{
                    width: 175%;
                    padding: 0.5rem 1rem;
                    border-radius: 5px;
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
                    border: none;
                    outline: none;
                    border: 1px solid rgb(185, 185, 185);
                    font-family: 'Yaldevi', sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    &:focus{
                        border: 1px solid rgb(135, 135, 135);
                    }
                }
            }
        }
        form{
            position: relative;
            width: 70%;
            background-color: white;
            min-height: 45vh;
            display: flex;
            flex-direction: column;
            box-shadow: 2px 4px 15px rgba(132, 141, 115, 0.5);
            border-radius: 4px;
            padding: 1rem;
            margin-left: 50%;
            transform: translateX(-50%);
            font-family: 'Yaldevi', sans-serif;
            .errors{
                width: 100%;
                span{
                    color: crimson;
                    font-size: 18px;
                    font-weight: bold;
    
                }
            }
            label{
                width: 100%;
                display: flex;
                align-items: center;
                h3{
                    font-size: 20px;
                    font-weight: 500;
                    font-family: 'Yaldevi', sans-serif;
                    width: 20%;
                }
                input{
                    width: 75%;
                    padding: 1rem 1.5rem;
                    border-radius: 5px;
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
                    border: none;
                    outline: none;
                    border: 1px solid rgb(185, 185, 185);
                    font-family: 'Yaldevi', sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    &:focus{
                        border: 1px solid rgb(135, 135, 135);
                    }
                }
                .textarea{
                    width: 75%;
                    min-height: 100px;
                    max-height: 300px;
                    resize: vertical;
                    padding: 1rem 1.5rem;
                    border-radius: 5px;
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
                    border: none;
                    outline: none;
                    border: 1px solid rgb(185, 185, 185);
                    font-family: 'Yaldevi', sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            hr{
                width: 100%;
                border: none;
                border-bottom: 1px solid #ddd;
            }
            .buttons{
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                .submit, .reset{
                    width: 12.5%;
                    padding: 0.7rem 1.2rem;
                    font-family: 'Yaldevi', sans-serif;
                    font-size: 18px;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: white;
                    border: none;
                    outline: none;
                    border-radius: 4px;
                    transition: 0.3s;
                    font-weight: 500;
                    cursor: pointer;
                    margin-top: 0.5rem;
                }
                .submit{
                    background: #8E2DE2;
                    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2); 
                    background: linear-gradient(to right, #4A00E0, #8E2DE2); 
                    margin-right: 1rem;
                    &:hover{
                        box-shadow: 0 0 15px rgba(110, 118, 228, 0.8);
                    }
                    &:focus{
                        box-shadow: 0 0 15px rgba(110, 118, 228, 0.8);
                    }
                }
                .reset{
                    background: #ED213A;
                    background: -webkit-linear-gradient(to right, #93291E, #ED213A);
                    background: linear-gradient(to right, #93291E, #ED213A);
                    &:hover{
                        box-shadow: 0 0 15px #b44754;
                    }
                    &:focus{
                        box-shadow: 0 0 15px #b44754;
                    }
                }
            }
        }
        .returnBtn{
            position: fixed;
            right: 1.5rem;
            bottom: 1.5rem;
            background: #8E2DE2;
            background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2); 
            background: linear-gradient(to right, #4A00E0, #8E2DE2); 
            padding: 0.5rem 1.2rem;
            font-size: 20px;
            border: none;
            outline: none;
            border-radius: 6px;
            cursor: pointer;
            display: flex;
            align-items: center;
            font-weight: 400;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            color: #eee;
            transition: 0.5s;
            .returnIcon{
                font-size: 22px;
            }
            &:hover{
                box-shadow: 0 0 15px #a475ca;
                border-radius: 20px;
            }
        }
    }
}

@media screen and (max-width: 900px){
    .root{
        .main{
            form{
                padding: 0.5rem;
                .buttons{
                    .submit, .reset{
                        width: 20%;
                    }
                }
                label{
                    h3{
                        font-size: 1em;
                    }
                    input{
                        padding: 0.7rem 1.2rem;
                        font-size: 1em;
                    }
                    .textarea{
                        padding: 0.7rem 1.2rem;
                        font-size: 1em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 750px){
    .root{
        .main{
            .image{
                .img{
                    width: 120px;
                    height: 120px;
                }
                .imageLabel{
                    h3{
                        font-size: 1em;
                    }
                    input{
                        width: 125%;
                    }
                }
            }
            form{
                width: 85%;
                .buttons{
                    .submit, .reset{
                        padding: 0.5rem 1rem;
                        font-size: 1em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    .root{
        .main{
            .image{
                .img{
                    width: 100px;
                    height: 100px;
                }
                .imageLabel{
                    padding-left: 10%;
                    h3{
                        font-size: 0.85em;
                    }
                    input{
                        width: 100%;
                    }
                }
            }
            form{
                .buttons{
                    .submit, .reset{
                        font-size: 0.85em;
                    }
                }
                label{
                    h3{
                        font-size: 0.85em;
                    }
                    input{
                        padding: 0.5rem 1rem;
                        font-size: 0.85em;
                    }
                    .textarea{
                        padding: 0.5rem 1rem;
                        font-size: 0.85em;
                    }
                }
            }
            .returnBtn{
                right: 0.75rem;
                bottom: 0.75rem;
                font-size: 1em;
                .returnIcon{
                    font-size: 1.25em;
                }
            }
        }
    }
}

@media screen and (max-width: 500px){
    .root{
        .main{
            .image{
                .img{
                    width: 80px;
                    height: 80px;
                }
                .imageLabel{
                    padding-left: 10%;
                    h3{
                        font-size: 0.85em;
                    }
                    input{
                        width: 100%;
                        font-size: 0.85em;
                    }
                }
            }
            form{
                width: 92%;
            }
        }
    }
}

@media screen and (max-width: 410px){
    .root{
        .main{
            .image{
                .img{
                    width: 60px;
                    height: 60px;
                }
                .imageLabel{
                    padding-left: 15%;
                    h3{
                        font-size: 0.7em;
                    }
                    input{
                        padding: 0.3rem 0.7rem;
                        font-size: 0.7em;
                    }
                }
            }
            form{
                .buttons{
                    .submit, .reset{
                        font-size: 0.7em;
                        width: 30%;
                    }
                }
                label{
                    h3{
                        font-size: 0.7em;
                    }
                    input{
                        padding: 0.3rem 0.7rem;
                        font-size: 0.7em;
                    }
                    .textarea{
                        padding: 0.3rem 0.7rem;
                        font-size: 0.7em;
                    }
                }
            }
            .returnBtn{
                right: 0.75rem;
                bottom: 0.75rem;
                font-size: 1em;
                .returnIcon{
                    font-size: 1.25em;
                }
            }
        }
    }
}