@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.root{
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    .nav{
        background: rgb(233,243,251);   
    }
    .main{
        position: relative;
        padding: 1rem 4rem;
        padding-top: 2rem;
        min-height: 80vh;
        background-color: white;
        display: flex;
        .mainProfile{
            flex: 1;
            position: relative;
            margin-right: 3rem;
            .profPic{
                position: relative;
                margin-left: 25%;
                transform: translateX(-25%);
                .img{
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    border: 1px solid #30363d;
                }
            }
            .names{
                margin: 0.5rem 0;
                .nickname{
                    color: #222;
                    margin: 0;
                    font-size: 24px;
                    font-weight: bold;
                }
                .name{
                    font-size: 18px;
                    color: #555;
                    font-weight: 500;
                    margin: 0;
                }
                .gender{
                    color: #222;
                    font-size: 20px;
                    font-weight: 500;
                    margin: 0.3rem 0;
                    .blue{
                        font-weight: 600;
                        color: rgb(74, 74, 226);
                    }
                    .pink{
                        font-weight: 500;
                        color: plum;
                    }
                }
                .bio{
                    margin: 0.5rem 0;
                    font-size: 17px;
                    color: #212121;
                    font-weight: 400;
                }
            }
        }
        .mainMovies{
            flex: 4;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}